.modal-about {
	text-align: center;
	h1 {
		font-family: 'Tiki Tropic';
		font-size: 2.5rem;
		font-weight: normal;
	}
	h2 {
		font-size: 1.25rem;
	}
	small {
		font-size: 95%;
	}
}

.about-links {
	margin: 20px auto;
	width: 100%;
	max-width: 350px;

	li {
		text-align: left;
		border-bottom: 1px solid var(--border-color);
		display: flex;

		a {
			width: 100%;
			padding: 7px 2px;
		}

		&:first-child {
			border-top: 1px solid var(--border-color);
		}
	}
}

.about-links-title {
	font-size: 120%;
}

.about-bottom {
	font-size: 95%;
}
