$theme-light-vanilla: (
        $--base-background: #fff,
        $--base-color: #333,
        $--notebook-header-bg: #333,
        $--notebook-header-color: #fff,
        $--notebook-paper-background: #f7f3ec,
        $--notebook-paper-line:#94acd4,
        $--notebook-text-color: #333,
        $--list-item-hover-color: #f9fafb,
        $--border-color: #e5e7eb,
        $--border-color-darker: #d1d5db,
        $--notebook-box-shadow-bg: #eee,
        $--notebook-box-shadow-line: rgba(0, 0, 0, 0.15),
        $--select-background: #fff,
        $--select-text-color: #333,
        $--round-button-background: #fff,
);
