@import '../variables/color-variables';

$theme-light-neo: (
	$--base-background: #fff,
	$--base-color: #09090b,
	$--notebook-header-bg: #fff,
	$--notebook-header-color: #09090b,
	$--notebook-paper-background: #fff,
	$--notebook-paper-line: #f4f4f5,
	$--notebook-text-color: #09090b,
	$--list-item-hover-color: #f9fafb,
	$--border-color: #d4d4d8,
	$--border-color-darker: #a1a1aa,
	$--notebook-box-shadow-bg: #fff,
	$--notebook-box-shadow-line: #fff,
	$--box-shadow-color1: #fff,
	$--box-shadow-color2: #fff,
	$--select-background: #fff,
	$--select-text-color: #333,
	$--round-button-background: #fff
);
