@import '../variables/color-variables';

$theme-dark-lobelia: (
	$--base-background: #211b2c,
	$--base-color: #f5f5f4,
	$--notebook-header-bg: #413655,
	$--notebook-header-color: #fff,
	$--notebook-paper-background: #8f8ca8,
	$--notebook-paper-line: #4c4666,
	$--notebook-text-color: #211b2c,
	$--list-item-hover-color: #8f8ca8,
	$--border-color: #4c4666,
	$--border-color-darker: #211b2c,
	$--notebook-box-shadow-bg: #8f8ca8,
	$--notebook-box-shadow-line: rgba(0, 0, 0, 0.15),
	$--select-background: #8f8ca8,
	$--select-text-color: #211b2c,
	$--round-button-background: #211b2c
);
