$theme-light-vanilla: (
	$--base-color: #333,
	$--base-background: #fff,
	$--notebook-header-bg: #333,
	$--notebook-header-color: #fff,
	$--list-item-border-color: #e5e7eb,
	$--list-item-hover-color: #f9fafb
);
