$theme-dark-terminal: (
        $--base-background: #3c3c3c,
        $--base-color: #f5f5f4,
        $--notebook-header-bg: #000000,
        $--notebook-header-color: #f5f5f4,
        $--notebook-paper-background: #000000,
        $--notebook-paper-line: #24b023,
        $--notebook-text-color: #f5f5f4,
        $--list-item-hover-color: #000,
        $--border-color: #24b023,
        $--border-color-darker: #24b023,
        $--notebook-box-shadow-bg: #000000,
        $--notebook-box-shadow-line: rgba(131, 24, 67, 0.15),
        $--select-background: #000,
        $--select-text-color: #f5f5f4,
        $--round-button-background: #000,
);
