$theme-light-cookie: (
        $--base-background: #fff5e5,
        $--base-color: #422006,
        $--notebook-header-bg: #745f4f,
        $--notebook-header-color: #f8e8d5,
        $--notebook-paper-background: #f8e8d5,
        $--notebook-paper-line:#e8b68b,
        $--notebook-text-color: #422006,
        $--list-item-hover-color: #f8e8d5,
        $--border-color: #e8b68b,
        $--border-color-darker: #e8b68b,
        $--notebook-box-shadow-bg: #f8e8d5,
        $--notebook-box-shadow-line: rgba(131, 24, 67, 0.15),
        $--select-background: #f8e8d5,
        $--select-text-color: #422006,
        $--round-button-background: #fff5e5
);
