$theme-light-cherry: (
        $--base-background: #ffe9f3,
        $--base-color: #b34261,
        $--notebook-header-bg: #b34261,
        $--notebook-header-color: #fff,
        $--notebook-paper-background: #fff2e6,
        $--notebook-paper-line:#e6a4a8,
        $--notebook-text-color: #b34261,
        $--list-item-hover-color: #fff2e6,
        $--border-color: #e6a4a8,
        $--border-color-darker: #b34261,
        $--notebook-box-shadow-bg: #fff2e6,
        $--notebook-box-shadow-line: rgba(230, 164, 168, 0.3),
        $--select-background: #fff2e6,
        $--select-text-color: #b34261,
        $--round-button-background: #fff2e6
);
