@import '../variables/font-variables';

$font-family-halogen: (
	$--notebook-font-family: 'Halogen',
	$--notebook-font-size: 22px
);

$font-family-hashtag: (
	$--notebook-font-family: 'Hashtag',
	$--notebook-font-size: 37px
);

$font-family-ammys: (
	$--notebook-font-family: 'Ammys Handwriting',
	$--notebook-font-size: 22px
);

$font-family-journal: (
	$--notebook-font-family: 'Journal',
	$--notebook-font-size: 30px
);

$font-family-damagrafik: (
	$--notebook-font-family: 'Damagrafik Script',
	$--notebook-font-size: 22px
);

$font-family-jphand: (
	$--notebook-font-family: 'JP Hand',
	$--notebook-font-size: 30px
);

$font-family-arial: (
	$--notebook-font-family: 'Arial',
	$--notebook-font-size: 22px
);

$font-family-oldattic: (
	$--notebook-font-family: 'Times Old Attic Bold',
	$--notebook-font-size: 22px
);

$font-family-oldattic: (
	$--notebook-font-family: 'Crimson Roman',
	$--notebook-font-size: 25px
);

$font-family-comic: (
	$--notebook-font-family: 'Comic Sans',
	$--notebook-font-size: 22px
);

$font-family-lucida: (
	$--notebook-font-family: 'Lucida Console',
	$--notebook-font-size: 22px
);

$font-family-consolas: (
	$--notebook-font-family: 'Consolas',
	$--notebook-font-size: 22px
);
