@use './abstracts/mq-settings';

@import './variables/variables';
@import './abstracts/mixins';

@import './base/base';
@import './base/reset';
@import './base/typography';

@import './themes/font-classes';

@import './themes/colors.vanilla';
@import './themes/colors.chocolate';

@import './layout/header';
@import './layout/footer';
@import './layout/workspace';
@import './layout/overlay';
@import './layout/mobile-nav';
@import './layout/wrapper';

@import './pages/settings';
@import './pages/stash';

@import './components/notebook-container';
@import './components/notebook';
@import './components/settings-select';
@import './components/list';
@import './components/placeholder-text';
@import './components/pad-dropdown';
@import './components/toast';

:root.vanilla {
	@include spread-map($theme-light-vanilla);
}

:root.chocolate {
	@include spread-map($theme-dark-chocolate);
}

.workspace.halogen {
	@include spread-map($font-family-halogen);
}

.workspace.hashtag {
	@include spread-map($font-family-hashtag);
}

.workspace.ammys {
	@include spread-map($font-family-ammys);
}

.workspace.journal {
	@include spread-map($font-family-journal);
}

.workspace.damagrafik {
	@include spread-map($font-family-damagrafik);
}

.workspace.jphand {
	@include spread-map($font-family-jphand);
}

.workspace.arial {
	@include spread-map($font-family-arial);
}

.workspace.oldattic {
	@include spread-map($font-family-oldattic);
}

.workspace.comic {
	@include spread-map($font-family-comic);
}

.workspace.lucida {
	@include spread-map($font-family-lucida);
}

.workspace.consolas {
	@include spread-map($font-family-consolas);
}

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

textarea:disabled {
	-webkit-text-fill-color: #1c1917;
}

textarea:focus {
	box-shadow: 0 0 10px #ccc, 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.round-button {
	padding: 0.5rem;
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 100%;
	border-width: 1px;
}

.action-button {
	border-radius: 12px;
	padding: 0.5rem 0.8rem;
	margin: 0 0.5rem;
}

/* ---------THEMES--------- */

/* Plain Vanilla */

.vanilla #logo-text,
.vanilla #poem-list-placeholder {
	color: #333;
}

.vanilla .paper {
	background: repeating-linear-gradient(#f7f3ec, #f7f3ec 31px, #94acd4 31px, #94acd4 32px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15),
		0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.vanilla #burger-bar {
	background: #ffffff;
}

.vanilla select {
	background: #ffffff;
	outline: 1px solid #d1d5db;
}

.vanilla .round-button {
	background: #ffffff;
	fill: #333333;
	border-color: #333333;
}

.vanilla .dropdown-arrow {
	color: #6b7280;
}

#moon,
#pencil {
	color: #333333;
}

.vanilla .action-button--primary {
	background: #333;
	color: #fff;
}

.vanilla .action-button--secondary {
	outline: 1px solid #9ca3af;
}

.vanilla .action-button--primary:hover,
.vanilla .action-button--secondary:hover {
	background-color: #e5e7eb;
	color: #333;
	outline: none;
}

.strawberry .top,
.strawberry .top textarea:disabled {
	background: #f9a8d4;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.strawberry textarea,
.strawberry textarea:disabled {
	color: #333333;
	-webkit-text-fill-color: #333333;
	-webkit-opacity: 1;
	opacity: 1;
}

.strawberry #header-menu,
.strawberry #header-menu svg,
.strawberry .toolbelt,
.strawberry footer,
.strawberry label,
.strawberry select,
.strawberry .dropdown-arrow {
	color: #c71585;
}

.strawberry body,
.strawberry #burger-bar,
.strawberry .poem-list {
	background: #fdf2f8;
}

.strawberry .paper {
	background: repeating-linear-gradient(#fce7f3, #fce7f3 31px, #f9a8d4 31px, #f9a8d4 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #fce7f3,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #fce7f3,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
}

.strawberry .round-button {
	background: #fdf2f8;
	fill: #c71585;
	border-color: #c71585;
}

.strawberry select {
	background: #fce7f3;
	outline: 1px solid #f9a8d4;
}

.strawberry .pad-dropdown-menu {
	background-color: #fdf2f8;
	box-shadow: 0 10px 15px -3px rgb(249 168 212 / 0.3), 0 4px 6px -4px rgb(249 168 212 / 0.3);
}

.strawberry .pad-dropdown-menu-item {
	color: #c71585;
	border-color: #f9a8d4;
}

.strawberry .pad-dropdown-menu-item:hover {
	background-color: #fce7f3;
}

/* Lemon Tart */

.lemon body,
.lemon .poem-list,
.lemon #burger-bar {
	background-color: #fefce8;
}

.lemon .top {
	background-color: #fef9c3;
	color: #422006;
}

.lemon #header-menu,
.lemon #header-menu svg,
.lemon .toolbelt,
.lemon footer,
.lemon label,
.lemon select,
.lemon .dropdown-arrow {
	color: #422006;
}

.lemon .paper {
	background: repeating-linear-gradient(#fffcdb, #fffcdb 31px, #fde047 31px, #fde047 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #fffcdb,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #fffcdb,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #422006;
}

.lemon .top,
.lemon .top textarea:disabled {
	background: #fef9c3;
	-webkit-opacity: 1;
	opacity: 1;
	color: #422006;
	-webkit-text-fill-color: #422006;
}

.lemon textarea,
.lemon textarea:disabled {
	color: #422006;
	-webkit-text-fill-color: #422006;
	-webkit-opacity: 1;
	opacity: 1;
}

.lemon .round-button {
	background: #fefce8;
	fill: #422006;
	border-color: #fde047;
}

.lemon select {
	background: #fffcdb;
	outline: 1px solid #fde047;
}

.lemon .pad-dropdown-menu {
	background-color: #fefce8;
	box-shadow: 0 10px 15px -3px rgb(66 32 6 / 0.05), 0 4px 6px -4px rgb(66 32 6 / 0.05);
}

.lemon .pad-dropdown-menu-item {
	color: #422006;
	border-color: #fde047;
}

.lemon .pad-dropdown-menu-item:hover {
	background-color: #fffcdb;
}

/* Cookie Dough */

.cookie body,
.cookie .poem-list,
.cookie #burger-bar {
	background-color: #fff5e5;
}

.cookie #header-menu,
.cookie #header-menu svg,
.cookie .toolbelt,
.cookie footer,
.cookie label,
.cookie select,
.cookie .dropdown-arrow {
	color: #422006;
}

.cookie .top {
	background-color: #745f4f;
	color: #f8e8d5;
}

.cookie .paper {
	background: repeating-linear-gradient(#f8e8d5, #f8e8d5 31px, #e8b68b 31px, #e8b68b 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #f8e8d5,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #f8e8d5,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #422006;
}

.cookie .top,
.cookie .top textarea:disabled {
	background: #745f4f;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f8e8d5;
	-webkit-text-fill-color: #f8e8d5;
}

.cookie textarea,
.cookie textarea:disabled {
	color: #422006;
	-webkit-text-fill-color: #422006;
	-webkit-opacity: 1;
	opacity: 1;
}

.cookie .round-button {
	background: #fff5e5;
	fill: #422006;
	border-color: #e8b68b;
}

.cookie select {
	background: #f8e8d5;
	outline: 1px solid #e8b68b;
}

.cookie .pad-dropdown-menu {
	background-color: #fff5e5;
	box-shadow: 0 10px 15px -3px rgb(66 32 6 / 0.1), 0 4px 6px -4px rgb(66 32 6 / 0.1);
}

.cookie .pad-dropdown-menu-item {
	color: #422006;
	border-color: #e8b68b;
}

.cookie .pad-dropdown-menu-item:hover {
	background-color: #f8e8d5;
}

/* Summer Cherry */

.cherry body,
.cherry .poem-list,
.cherry #burger-bar {
	background-color: #ffe9f3;
}

.cherry #header-menu,
.cherry #header-menu svg,
.cherry .toolbelt,
.cherry footer,
.cherry table,
.cherry label,
.cherry select,
.cherry .dropdown-arrow {
	color: #b34261;
}

.cherry .burger-border {
	border-color: #e6a4a8;
}

.cherry .paper {
	background: repeating-linear-gradient(#fff2e6, #fff2e6 31px, #e6a4a8 31px, #e6a4a8 32px);
	box-shadow: 0 1px 1px rgba(230, 164, 168, 0.3), 0 10px 0 -5px #fff2e6,
		0 10px 1px -4px rgba(230, 164, 168, 0.3), 0 20px 0 -10px #fff2e6,
		0 20px 1px -9px rgba(230, 164, 168, 0.3);
	color: #8b2c3d;
}

.cherry .top,
.cherry .top textarea:disabled {
	background: #b34261;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.cherry textarea,
.cherry textarea:disabled {
	color: #8b2c3d;
	-webkit-text-fill-color: #8b2c3d;
	-webkit-opacity: 1;
	opacity: 1;
}

.cherry .round-button {
	background: #ffe9f3;
	fill: #b34261;
	border-color: #e6a4a8;
}

.cherry select {
	background: #fff2e6;
	outline: 1px solid #b34261;
}

.cherry .pad-dropdown-menu {
	background-color: #ffe9f3;
	box-shadow: 0 10px 15px -3px rgb(179 66 97 / 0.1), 0 4px 6px -4px rgb(179 66 97 / 0.1);
}

.cherry .pad-dropdown-menu-item {
	color: #8b2c3d;
	border-color: #e6a4a8;
}

.cherry .pad-dropdown-menu-item:hover {
	background-color: #fff2e6;
}

/* Coral Pink */

.coral body,
.coral tr,
.coral #burger-bar {
	background-color: #fdedeb;
}

.coral #header-menu svg {
	fill: #9e4244;
}

.coral button svg {
	fill: #fdedeb;
}

.coral #header-menu,
.coral #header-menu svg,
.coral .toolbelt,
.coral footer,
.coral label,
.coral select,
.coral .dropdown-arrow {
	color: #9e4244;
}

.coral select {
	background-color: #ffe9c7;
}

.coral .paper {
	background: repeating-linear-gradient(#ffe9c7, #ffe9c7 31px, #f06071 31px, #f06071 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #ffe9c7,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #ffe9c7,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #000000;
}

.coral .top,
.coral .top textarea:disabled {
	background-color: #ee8470;
	color: #ffffff;
	-webkit-text-fill-color: #ffffff;
	-webkit-opacity: 1;
	opacity: 1;
}

.coral .pad-dropdown-menu {
	background-color: #fdedeb;
	box-shadow: 0 10px 15px -3px rgb(179 66 97 / 0.1), 0 4px 6px -4px rgb(179 66 97 / 0.1);
}

.coral .pad-dropdown-menu-item {
	color: #ee8470;
	border-color: #ee8470;
}

.coral .pad-dropdown-menu-item:hover {
	background-color: #ffe9c7;
}

/* Global Dark */

.dark a,
.dark #moon,
.dark #pencil,
.dark #markov-talk,
.dark .toolbelt,
.dark label,
.dark tr,
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark ul,
.dark #burger-button svg,
.dark button,
#poem-list-placeholder,
.logo-text {
	color: #f5f5f4;
}

.dark #swap svg {
	background-color: #e7e5e4;
}

.dark tr {
	border-bottom-color: #f5f5f4;
}

/* Chocolate */

.chocolate select,
.chocolate .dropdown-arrow {
	color: #1c1917;
}

.chocolate .paper {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #a8a29e,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #a8a29e, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	background: repeating-linear-gradient(#a8a29e, #a8a29e 31px, #57534e 31px, #57534e 32px);
	color: #1c1917;
}

.chocolate tr {
	background-color: #292524;
}

.chocolate body,
.chocolate #burger-bar {
	background-color: #292524;
}

.chocolate .top {
	color: #f5f5f4;
	background-color: #1c1917;
}

.chocolate .round-button {
	background: #292524;
	fill: #f5f5f4;
	border-color: #a8a29e;
}

.chocolate select {
	background: #a8a29e;
	outline: 1px solid #292524;
}

.chocolate .pad-dropdown-menu {
	background-color: #1c1917;
	box-shadow: 0 10px 15px -3px rgb(168 162 158 / 0.3), 0 4px 6px -4px rgb(168 162 158 / 0.3);
}

.chocolate .pad-dropdown-menu-item {
	color: #a8a29e;
	border-color: #a8a29e;
}

.chocolate .pad-dropdown-menu-item:hover {
	background-color: #a8a29e;
	color: #292524;
}

/* Black Lobelia */

.black-lobelia select,
.black-lobelia .dropdown-arrow {
	color: #211b2c;
}

.black-lobelia body,
.black-lobelia tr,
.black-lobelia #burger-bar {
	background-color: #211b2c;
}

.black-lobelia .top {
	background-color: #413655;
}

.black-lobelia .paper {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #8f8ca8,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #8f8ca8, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	background: repeating-linear-gradient(#8f8ca8, #8f8ca8 31px, #4c4666 31px, #4c4666 32px);
	color: #211b2c;
}

.black-lobelia .top,
.black-lobelia .top textarea:disabled {
	background: #413655;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.black-lobelia textarea,
.black-lobelia textarea:disabled {
	color: #211b2c;
	-webkit-text-fill-color: #211b2c;
	-webkit-opacity: 1;
	opacity: 1;
}

.black-lobelia .round-button {
	background: #211b2c;
	fill: #fff;
	border-color: #8f8ca8;
}

.black-lobelia select {
	background: #8f8ca8;
	outline: 1px solid #211b2c;
}

.black-lobelia .pad-dropdown-menu {
	background-color: #211b2c;
	box-shadow: 0 10px 15px -3px rgb(143 140 168 / 0.3), 0 4px 6px -4px rgb(143 140 168 / 0.3);
}

.black-lobelia .pad-dropdown-menu-item {
	color: #8f8ca8;
	border-color: #8f8ca8;
}

.black-lobelia .pad-dropdown-menu-item:hover {
	background-color: #8f8ca8;
	color: #211b2c;
}

/* Red Velvet */

.red-velvet select,
.red-velvet .dropdown-arrow {
	color: #240309;
}

.red-velvet body,
.red-velvet .poem-list,
.red-velvet #burger-bar {
	background-color: #240309;
}

.red-velvet .top {
	background-color: #51040f;
	color: #f7ece1;
}

.red-velvet .paper {
	background: repeating-linear-gradient(#a88c8e, #a88c8e 31px, #664646 31px, #664646 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #a88c8e,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #a88c8e,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #360202;
}

.red-velvet textarea:disabled {
	-webkit-text-fill-color: #360202;
	opacity: 1;
}

.red-velvet #swap svg {
	background-color: #f7ece1;
	color: #360202;
}

.red-velvet #header-menu,
.red-velvet #header-menu svg,
.red-velvet .toolbelt,
.red-velvet footer,
.red-velvet #logo-text,
.red-velvet #poem-list-placeholder {
	color: #f7ece1;
}

.red-velvet .top,
.red-velvet .top textarea:disabled {
	background: #51040f;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f7ece1;
	-webkit-text-fill-color: #f7ece1;
}

.red-velvet textarea,
.red-velvet textarea:disabled {
	color: #360202;
	-webkit-text-fill-color: #360202;
	-webkit-opacity: 1;
	opacity: 1;
}

.red-velvet .round-button {
	background: #360202;
	fill: #f7ece1;
	border-color: #a88c8e;
}

.red-velvet select {
	background: #a88c8e;
	outline: 1px solid #360202;
}

.red-velvet .pad-dropdown-menu {
	background-color: #51040f;
	box-shadow: 0 10px 15px -3px rgb(81 4 15 / 0.3), 0 4px 6px -4px rgb(81 4 15 / 0.3);
}

.red-velvet .pad-dropdown-menu-item {
	color: #a88c8e;
	border-color: #a88c8e;
}

.red-velvet .pad-dropdown-menu-item:hover {
	background-color: #a88c8e;
	color: #51040f;
}

/* Terminal */

.terminal select,
.terminal .dropdown-arrow {
	color: #f5f5f4;
	background-color: #000;
}

.terminal select {
	outline: 1px solid #24b023;
}

.terminal body,
.terminal .poem-list,
.terminal #burger-bar {
	background-color: #3c3c3c;
}

.terminal .paper {
	background: repeating-linear-gradient(#000000, #000000 31px, #24b023 31px, #24b023 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #000000,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #000000,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #24b023;
}

.terminal textarea:disabled {
	-webkit-text-fill-color: #24b023;
	opacity: 1;
}

.terminal #header-menu,
.terminal #header-menu svg,
.terminal .toolbelt,
.terminal footer,
.terminal #logo-text,
.terminal #poem-list-placeholder,
.terminal .stats {
	color: #f5f5f4;
}

.terminal .top,
.terminal .top textarea:disabled {
	background: #000000;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f5f5f4;
	-webkit-text-fill-color: #f5f5f4;
}

.terminal textarea,
.terminal textarea:disabled {
	color: #f5f5f4;
	-webkit-text-fill-color: #f5f5f4;
	-webkit-opacity: 1;
	opacity: 1;
}

.terminal .round-button {
	background: #000;
	fill: #24b023;
	border-color: #24b023;
}

.terminal .pad-dropdown-menu {
	background-color: #3c3c3c;
	box-shadow: 0 10px 15px -3px rgb(81 4 15 / 0.3), 0 4px 6px -4px rgb(81 4 15 / 0.3);
}

.terminal .pad-dropdown-menu-item {
	color: #24b023;
	border-color: #24b023;
}

.terminal .pad-dropdown-menu-item:hover {
	background-color: #000;
	color: #f5f5f4;
}
