$breakpoints: (
	seed: 640px,
	seedling: 800px,
	sprout: 1024px,
	plant: 1600px
);

$show-breakpoints: (seed, seedling, sprout, plant);

@use '../vendors/mq' with (
	$breakpoints: $breakpoints,
	$show-breakpoints: $show-breakpoints
);
