@import '../variables/color-variables';

$theme-dark-neo: (
	$--base-background: #262626,
	$--base-color: #d4d4d4,
	$--notebook-header-bg: $--base-background,
	$--notebook-header-color: $--base-color,
	$--notebook-paper-background: #262626,
	$--notebook-paper-line: #404040,
	$--notebook-text-color: $--base-color,
	$--list-item-hover-color: #404040,
	$--border-color: #52525b,
	$--border-color-darker: #71717a,
	$--notebook-box-shadow-bg: $--base-background,
	$--notebook-box-shadow-line: $--base-background,
	$--box-shadow-color1: #fff,
	$--box-shadow-color2: #fff,
	$--select-background: $--base-background,
	$--select-text-color: #d4d4d4,
	$--round-button-background: $--base-background
);
