---

---

<footer>
  <p>&copy; {new Date().getFullYear()} PokeBook. All rights reserved.</p>
</footer>

<style>
  footer {
    background-color: #fff;
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
  }
</style>
