---
import Button from "./Button.astro";
import Container from "./Container.astro";
---

<section class="hero">
  <Container innerContainer>
    <div class="contents">
      <h1>The ultimate poetry workstation</h1>
      <p>
        Write your best with a fully-featured, distraction-free digital notebook
        designed to fall in love with poetry.
      </p>
      <Button href="https://book3.pokeghost.org/" type="primary"
        >Start writing now</Button
      >
    </div>
  </Container>
  <div class="hero-image"></div>
</section>

<style>
  .hero {
    text-align: center;
    padding: 4em 0 0;
    background-color: #fff5ee;
  }

  .hero h1 {
    font-size: 52px;
    font-weight: bold;
    font-family: "Lovelace";
  }

  .hero p {
    font-size: 20px;
    line-height: 1.6em;
    color: #666;
  }

  .contents {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
  }

  img {
    max-width: 100vw;
    height: auto;
  }

  .hero-image {
    background: url("/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1400px;
    min-height: 500px;
    padding: 0 1em;
    margin: auto;
  }

  @media screen and (max-width: 768px) {
    .hero-image {
      min-height: 350px;
    }
  }

  @media screen and (max-width: 540px) {
    .hero-image {
      min-height: 240px;
    }
  }

  @media screen and (max-width: 540px) {
    .hero-image {
      min-height: 200px;
    }
  }

  @media screen and (max-width: 425px) {
    .hero h1 {
      font-size: 46px;
    }
  }
</style>
