---
import Container from "./Container.astro";
---

<div class="navbar">
  <Container>
    <nav>
      <a href="/" class="logo">
        <img src="/icon.webp" alt="PokeBook logo icon" />
        <span>PokeBook</span>
      </a>
      <ul class="nav-links">
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="#download" class="btn btn-primary">Get Free</a></li>
      </ul>
    </nav>
  </Container>
</div>

<style>
  .navbar {
    background-color: #fff;
    padding: 1em 0;
    border-bottom: 1px solid #eaeaea;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.5em;
    font-family: "Lovelace";
    font-weight: bold;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  .logo span {
    margin-top: 5px;
  }

  .logo img {
    border-radius: 10px;
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
  }

  .nav-links li {
    display: inline;
  }

  .nav-links a {
    color: #333;
    text-decoration: none;
  }
</style>
