---
import Button from "./Button.astro";
import Container from "./Container.astro";

const pricing = [
  {
    platform: "Web Version",
    price: "100% Free to use. Forever",
    button: {
      text: "Start writing",
      href: "https://book3.pokeghost.org/",
    },
  },
  {
    platform: "Android App",
    price: "100% Free to use. Forever",
    button: {
      text: "Download",
      href: "https://play.google.com/store/apps/details?id=art.gosuto.pokebook",
    },
  },
  {
    platform: "Source Code",
    price: "AGPL-3.0 license",
    button: {
      text: "Study",
      href: "https://github.com/pokeghosst/pokebook"
    }
  },
];
---

<section>
  <h2>Free as in freedom, free as in price</h2>
  <Container>
    <div class="pricing-options">
      {
        pricing.map((option) => (
          <div class="option">
            <h3>{option.platform}</h3>
            <p>{option.price}</p>
            {option.button ? (
              <Button href={option.button.href} type="secondary">
                {option.button.text}
              </Button>
            ) : null}
          </div>
        ))
      }
    </div>
  </Container>
</section>

<style>
  section {
    padding: 2em 0;
  }

  .pricing-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }

  .option {
    background-color: #f0f8ff;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    flex: 1 1 calc(31% - 2em);
  }

  .note {
    text-align: center;
    margin-top: 2em;
    font-size: 0.95em;
    color: #888;
  }

  @media screen and (max-width: 768px) {
    .pricing-options {
      /* flex-direction: column; */
    }
  }
</style>
