---
import Container from "./Container.astro";

const testimonials = [
  {
    name: "Claudia Dawson, Recommendo",
    testimonial:
      "I write poetry and I've never found a writing app that is conducive to writing poems until now. Poke!Book is nearly perfect.",
  },
  {
    name: "PokeBook user",
    testimonial: "[T]he most epic poem app out there.",
  },
  {
    name: "Richard Szpin",
    testimonial:
      "An excellent writing tool for writers of all levels and experience. It's like writing your original story and making notes in the margins at the same time[.]",
  },
];
---

<section>
  <h2>Loved by poets of all levels</h2>
  <Container>
    <div class="testimonials">
      {
        testimonials.map((testimonial) => (
          <blockquote>
            <p>{testimonial.testimonial}</p>
            <cite>{testimonial.name}</cite>
          </blockquote>
        ))
      }
    </div>
  </Container>
</section>

<style>
  section {
    padding: 2em 0;
  }

  .testimonials {
    display: flex;
  }

  .testimonials blockquote {
    flex: 1 1 0;
  }

  .testimonials blockquote {
    font-style: italic;
    font-size: 18px;
  }

  .testimonials cite {
    display: block;
    margin-top: 1em;
    color: #888;
  }
</style>
