@use "../vendors/mq";

.main-wrapper {
  z-index: 10;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // TODO: IDK how good is it to duplicate mq here
  @include mq.mq(sprout) {
    &.l-sidebar-open {
      // TODO: Extract sidebar width into a variable
      margin-left: 375px;
      width: calc(100% - 375px);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
