@use '../variables/color-variables';

$theme-light-coral: (
	color-variables.$base-background: #fdedeb,
	color-variables.$base-background-darker: #ffe6e3,
	color-variables.$base-color: #9e4244,
	color-variables.$notebook-header-bg: #ee8470,
	color-variables.$notebook-header-color: #fff,
	color-variables.$notebook-paper-background: #ffe9c7,
	color-variables.$notebook-paper-line: #f06071,
	color-variables.$notebook-text-color: #9e4244,
	color-variables.$list-item-hover-color: #ffe9c7,
	color-variables.$border-color: #ee8470,
	color-variables.$border-color-darker: #ee8470,
	color-variables.$notebook-box-shadow-bg: #ffe9c7,
	color-variables.$notebook-box-shadow-line: rgba(131, 24, 67, 0.15),
	color-variables.$select-background: #ffe9c7,
	color-variables.$select-text-color: #9e4244,
	color-variables.$round-button-background: #fdedeb
);
