@use '../variables/color-variables';

$theme-light-cherry: (
	color-variables.$base-background: #ffe9f3,
	color-variables.$base-background-darker: #ffdbec,
	color-variables.$base-color: #b34261,
	color-variables.$notebook-header-bg: #b34261,
	color-variables.$notebook-header-color: #fff,
	color-variables.$notebook-paper-background: #fff2e6,
	color-variables.$notebook-paper-line: #e6a4a8,
	color-variables.$notebook-text-color: #b34261,
	color-variables.$list-item-hover-color: #fff2e6,
	color-variables.$border-color: #e6a4a8,
	color-variables.$border-color-darker: #b34261,
	color-variables.$notebook-box-shadow-bg: #fff2e6,
	color-variables.$notebook-box-shadow-line: rgba(230, 164, 168, 0.3),
	color-variables.$select-background: #fff2e6,
	color-variables.$select-text-color: #b34261,
	color-variables.$round-button-background: #fff2e6
);
