@use '../variables/color-variables';

$theme-dark-terminal: (
	color-variables.$base-background: #3c3c3c,
	color-variables.$base-background-darker: #1f1f1f,
	color-variables.$base-color: #f5f5f4,
	color-variables.$notebook-header-bg: #000000,
	color-variables.$notebook-header-color: #f5f5f4,
	color-variables.$notebook-paper-background: #000000,
	color-variables.$notebook-paper-line: #24b023,
	color-variables.$notebook-text-color: #f5f5f4,
	color-variables.$list-item-hover-color: #000,
	color-variables.$border-color: #24b023,
	color-variables.$border-color-darker: #24b023,
	color-variables.$notebook-box-shadow-bg: #000000,
	color-variables.$notebook-box-shadow-line: rgba(131, 24, 67, 0.15),
	color-variables.$select-background: #000,
	color-variables.$select-text-color: #f5f5f4,
	color-variables.$round-button-background: #000
);
