@use '../variables/color-variables';

$theme-light-strawberry: (
	color-variables.$base-background: #fdf2f8,
	color-variables.$base-background-darker: #fce8f3,
	color-variables.$base-color: #c71585,
	color-variables.$notebook-header-bg: #f9a8d4,
	color-variables.$notebook-header-color: #fff,
	color-variables.$notebook-box-shadow-bg: #fce7f3,
	color-variables.$notebook-box-shadow-line: rgba(131, 24, 67, 0.15),
	color-variables.$notebook-text-color: #c71585,
	color-variables.$list-item-hover-color: #fce7f3,
	color-variables.$notebook-paper-background: #fce7f3,
	color-variables.$notebook-paper-line: #f9a8d4,
	color-variables.$border-color: #f9a8d4,
	color-variables.$border-color-darker: #f9a8d4,
	color-variables.$select-background: #fce7f3,
	color-variables.$select-text-color: #c71585,
	color-variables.$round-button-background: #fdf2f8
);
