@use '../variables/font-variables';

$font-family-sans: (
	font-variables.$notebook-font-family: 'sans-serif',
	font-variables.$notebook-font-size: 16px
);

$font-family-serif: (
	font-variables.$notebook-font-family: 'serif',
	font-variables.$notebook-font-size: 16px
);

$font-family-oldattic: (
	font-variables.$notebook-font-family: 'Times Old Attic Bold',
	font-variables.$notebook-font-size: 16px
);

$font-family-crimsonroman: (
	font-variables.$notebook-font-family: 'Crimson Roman',
	font-variables.$notebook-font-size: 20px
);

$font-family-comic: (
	font-variables.$notebook-font-family: 'Comic Sans',
	font-variables.$notebook-font-size: 16px
);

$font-family-consolas: (
	font-variables.$notebook-font-family: 'Consolas',
	font-variables.$notebook-font-size: 16px
);

$font-family-lucida: (
	font-variables.$notebook-font-family: 'Lucida Console',
	font-variables.$notebook-font-size: 16px
);

$font-family-halogen: (
	font-variables.$notebook-font-family: 'Halogen',
	font-variables.$notebook-font-size: 19px
);

$font-family-hashtag: (
	font-variables.$notebook-font-family: 'Hashtag',
	font-variables.$notebook-font-size: 33px
);

$font-family-ammys: (
	font-variables.$notebook-font-family: 'Ammys Handwriting',
	font-variables.$notebook-font-size: 19px
);

$font-family-journal: (
	font-variables.$notebook-font-family: 'Journal',
	font-variables.$notebook-font-size: 28px
);

$font-family-damagrafik: (
	font-variables.$notebook-font-family: 'Damagrafik Script',
	font-variables.$notebook-font-size: 20px
);

$font-family-jphand: (
	font-variables.$notebook-font-family: 'JP Hand',
	font-variables.$notebook-font-size: 30px
);
