$desk-background: --desk-background;
$line-darker: --line-darker;
$line: --line;
$line-lighter: --line-lighter;
$line-lightest: --line-lightest;
$ink: --ink;
$hover-color: --hover-color;
$paper: --paper;
$paper-light: --paper-light;
$text-light: --text-light;
