
$--base-color: --base-color;
$--font-color-lighter: --font-color-lighter;
$--base-background: --base-background;

$--notebook-header-bg: --notebook-header-bg;
$--notebook-header-color: --notebook-header-color;

$--notebook-font-family: --notebook-font-family;
$--notebook-font-size: --notebook-font-size;

$--list-item-border-color: --list-item-border-color;
$--list-item-hover-color: --list-item-hover-color;
