@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: normal;
  src: url("/src/assets/fonts/Lato-Regular.ttf");
  src:
    local(""),
    url("/src/assets/fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: bold;
  src: url("/src/assets/fonts/Lato-Bold.ttf");
  src:
    local(""),
    url("/src/assets/fonts/Lato-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Halogen";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Halogen.ttf");
  src:
    local(""),
    url("/src/assets/fonts/Halogen.ttf") format("truetype");
}

@font-face {
  font-family: "Hashtag";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Hashtag.ttf");
  src:
    local(""),
    url("/src/assets/fonts/Hashtag.ttf") format("truetype");
}

@font-face {
  font-family: "Ammys Handwriting";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Ammys Handwriting.ttf");
  src:
    local(""),
    url("/src/assets/fonts/Ammys Handwriting.ttf") format("truetype");
}

@font-face {
  font-family: "Journal";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/JOURNAL.TTF");
  src:
    local(""),
    url("/src/assets/fonts/JOURNAL.TTF") format("truetype");
}

@font-face {
  font-family: "Damagrafik Script";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/DamagrafikScript-Regular.ttf");
  src:
    local(""),
    url("/src/assets/fonts/DamagrafikScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JP Hand";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/JPHSL.TTF");
  src:
    local(""),
    url("/src/assets/fonts/JPHSL.TTF") format("truetype");
}

@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/ARIALN.woff");
  src:
    local(""),
    url("/src/assets/fonts/ARIALN.woff") format("woff");
}

@font-face {
  font-family: "Times Old Attic Bold";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/times-old-attic.bold.ttf");
  src:
    local(""),
    url("/src/assets/fonts/times-old-attic.bold.ttf") format("truetype");
}

@font-face {
  font-family: "Crimson Roman";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/crimson.roman.ttf");
  src:
    local(""),
    url("/src/assets/fonts/crimson.roman.ttf") format("truetype");
}

@font-face {
  font-family: "Comic Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/LDFComicSans.ttf");
  src:
    local(""),
    url("/src/assets/fonts/LDFComicSans.ttf") format("truetype");
}

@font-face {
  font-family: "Tiki Tropic";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/TikiTropic.ttf");
  src:
    local(""),
    url("/src/assets/fonts/TikiTropic.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Console";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/LucidaConsoleRegular.ttf");
  src:
    local(""),
    url("/src/assets/fonts/LucidaConsoleRegular.ttf") format("truetype");
}

@font-face {
  font-family: "Consolas";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Consolas.woff");
  src:
    local(""),
    url("/src/assets/fonts/Consolas.woff") format("woff");
}
