.list-item {
	border-bottom: 1px solid var(--border-color);
	width: 100%;
	padding: 1rem;
	display: flex;
	text-align: left;
	align-items: center;

	&:hover {
		background-color: var(--hover-color);
	}

	svg {
		width: 18px;
		height: 18px;
		margin-right: 0.5rem;
		color: var(--ink);
	}

	span {
		text-align: left;
	}

	.list-poem {
		text-align: left;
		line-break: anywhere;
		padding-right: 6px;

		&-name {
			font-weight: bold;
		}

		&-time {
			min-width: 82px;
			text-align: right;
		}
	}
}
