@use '../vendors/mq';

.notebook-container {
	width: 100%;
	grid-column: span 1 / span 1;
	margin-bottom: 1.5rem;
	vertical-align: top;
	position: relative;
	display: inline-block;

	@include mq.mq($until: seedling) {
		width: 87vw;
	}
}

.notebook-container-toolbar {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	z-index: 10;

	> div {
		display: flex;

		button {
			margin-right: 0.25rem;
		}
	}
}

.pad-dropdown-menu {
	border-radius: 0.375rem;
}

.pad-dropdown-menu-item:last-of-type {
	border: none;
}
