.pad-dropdown-menu {
	position: absolute;
	right: 0;
	margin-top: 3rem;
	width: 12rem;
	transform-origin: top right;
	background-color: var(--base-background);

	button {
		display: block;
		padding: 0.5rem 1rem 0.5rem 1rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		width: 100%;

		&:not(:last-of-type) {
			border-bottom-width: 1px;
		}

		&:hover {
			background-color: var(--list-item-hover-color);
		}
	}
}
