.round-button {
	padding: 0.5rem;
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 100%;
	border-width: 1px;
    background-color: var(--round-button-background);
    border-color: var(--base-background);
    fill: var(--base-color);
}
