@use '../vendors/mq';

.toast {
	position: fixed;
	bottom: 1rem;
	left: 50%;
	transform: translateX(-50%);
	width: fit-content;
	padding: 2rem;
	border-radius: 1rem;
	z-index: 999;
	border: 1px solid var(--border-color);
	background-color: var(--base-background);

	@include mq.mq($until: seedling) {
		width: 90%;

		button {
			&:not(:first-of-type) {
				margin-top: 1rem;
			}
		}
	}
}

.toast-body {
	text-align: center;
}

.close-toast {
	position: absolute;
	right: 5px;
	top: 15px;

	svg {
		width: 22px;
		height: 22px;
	}
}
