.toolbar-menu {
	display: flex;
	gap: 10px;

	& > button {
		display: flex;
		gap: 8px;
		align-items: center;
		cursor: pointer;
		padding: 0.35rem;
		border-radius: 4px;
		outline: 1px solid var(--border-color-darker);
		background-color: var(--select-background);
		color: var(--select-text-color);

		> svg {
			width: 16px;
			height: 16px;
		}

		&:hover {
			background-color: var(--list-item-hover-color);
			outline: none;
			color: var(--base-color);
			outline: 1px solid var(--border-color-darker);
		}
	}
}
