@use '../vendors/mq';

.mobile-nav-wrapper {
	z-index: 50;
	display: flex;

	@include mq.mq(seedling) {
		display: none;
	}

	button {
		align-self: center;

		&:focus {
			outline: none;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.mobile-nav-close-area {
	position: fixed;
	background-color: transparent;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition-duration: 200ms;
	transform: translateX(100%);
}

.mobile-nav {
	background-color: var(--base-background);
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 80%;
	transition-duration: 200ms;
	transform: translateX(100%);
}

.mobile-nav--open {
	transform: translateX(0);
}

.mobile-nav-items {
	margin-top: 2.5rem;
}

.mobile-nav-footer {
	position: absolute;
	bottom: 1.25rem;
	left: 1.25rem;
	text-align: left;
}