.overlay {
	position: fixed;
	align-items: center;
	justify-content: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 50;
	--tw-bg-opacity: 0.5;
	background-color: rgb(68 64 60 / var(--tw-bg-opacity));

	h1 {
		color: #fff;
		font-size: 1.25rem;
		line-height: 1.75rem;
        text-align: center;
	}
}
