@use '../vendors/mq';

.sidebar-nav-wrapper {
	z-index: 30;
	display: flex;
}

.sidebar-close-area {
	@include mq.mq($until: sprout) {
		position: fixed;
		background-color: var(--base-color);
		opacity: 0.25;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transform: translateX(100%);
		z-index: inherit;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	left: -250px;
	height: 100%;
	width: 250px;
	border-right: 1px solid var(--line);
	z-index: inherit;
	background-color: var(--desk-background);

	.list-item {
		padding: 1rem;

		svg {
			opacity: 0.42;
		}
	}

	@include mq.mq($from: sprout) {
		width: fit-content;
		left: 0;

		.list-item svg {
			margin-right: 0;
		}
	}
}

.sidebar-nav--open {
	left: 0;
	transform: translateX(0);

	// @include mq.mq($from: sprout) {
	// 	left: inherit;
	// 	transform: none;
	// }
}

.sidebar-nav-items {
	margin-top: 1rem;
}

.sidebar-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: left;
	border-top: 1px solid var(--border-color);
	font-size: 15px;

	ul {
		display: flex;

		li:first-of-type {
			margin-right: 10px;
		}
	}

	@include mq.mq($until: sprout) {
		padding: 1rem;

		.list-item {
			padding: 0;
			border-bottom: none;
		}
	}
}

.desktop-only-icon {
	display: none;

	@include mq.mq($from: sprout) {
		display: block;
	}
}
