@use '../vendors/mq';

.sidebar-nav-wrapper {
	z-index: 30;
	display: flex;
}

.sidebar-close-area {
	@include mq.mq($until: sprout) {
		position: fixed;
		background-color: var(--base-color);
		opacity: 0.25;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		transform: translateX(100%);
		z-index: inherit;
	}
}

.sidebar {
	$sidebar: &;
	padding-top: 16px;
	position: fixed;
	top: 0;
	left: -250px;
	height: 100%;
	width: 250px;
	border-right: 1px solid var(--line);
	z-index: inherit;
	background-color: var(--desk-background);

	&-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 4px;

		#{$sidebar}-item {
			border-radius: 9px;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0.42;
			padding: 10px;

			svg {
				width: 17px;
				height: 17px;
				color: var(--ink);
			}

			&:hover,
			&.active {
				opacity: 1;
				background-color: var(--hover-color);
			}

			@include mq.mq($until: sprout) {
				width: 85%;
				gap: 9px;
			}
		}
	}

	@include mq.mq($from: sprout) {
		width: 58px;
		left: 0;
	}
}

.sidebar-nav--open {
	left: 0;
	transform: translateX(0);

	// @include mq.mq($from: sprout) {
	// 	left: inherit;
	// 	transform: none;
	// }
}

.sidebar-footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: left;
	border-top: 1px solid var(--border-color);
	font-size: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2px;

	ul {
		display: flex;

		li:first-of-type {
			margin-right: 10px;
		}
	}

	@include mq.mq($until: sprout) {
		padding: 1rem;

		.list-item {
			padding: 0;
			border-bottom: none;
		}
	}
}

.desktop-only-icon {
	display: none;

	@include mq.mq($from: sprout) {
		display: block;
	}
}
