.toolbar {
	white-space: nowrap;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	z-index: 999;
	background: white;
	bottom: 0;
	padding: 14px 4%;
	overflow-x: scroll;
	border-top: 1px solid var(--border-color-darker);
}
