@use '../vendors/mq';

.workspace {
	margin: 1.25rem auto 5rem auto;
	display: flex;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 500ms;
	opacity: 1;
	overflow-x: clip;
	position: relative;
	margin: 0 0 0 12px;
	height: 80vh;

	@include mq.mq($from: seedling) {
		width: 96%;
		gap: 24px;
		margin: 0 auto;
	}

	&.l-full-width {
		display: inherit;

		.notebook-container:first-child {
			width: 100%;
		}

		.notebook-container:last-child {
			display: none;
		}
	}

	&.transitioning {
		opacity: 0;
	}
}
