.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 40;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	width: calc(100vw - 2rem);
	max-width: 500px;
	max-height: calc(100vh - 2rem);
	background-color: var(--base-background);
	border-radius: 8px;
	z-index: 50;
}

.modal-title-bar {
	display: flex;
	justify-content: right;
	border-bottom: 1px solid var(--border-color);
	height: 56px;
}

.modal-title {
	font-size: 18px;
	flex: 1 1 auto;
	margin: 15px 0 0 16px;
}

.modal-title-side {
	display: flex;
	flex: none;
	width: 3.5em;
	justify-content: center;

	svg {
		fill: var(--base-color);
		width: 24px;
	}
}

.modal-content {
	padding: 10px 20px 20px;
}
