@use '../vendors/mq';

.header-nav-wrapper {
	width: 100%;
	background-color: var(--base-background-darker);
	border-bottom: 1px solid var(--border-color);
	padding: 1.15em;
	margin-bottom: 1em;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: space-between;

	button {
		align-self: center;

		&:focus {
			outline: none;
		}

		svg {
			width: 24px;
			height: 24px;
		}
	}
}

.header-icons {
	display: flex;
	margin-top: 0.25rem;
	gap: 0.75rem;
}