$--base-color: --base-color;
$--base-background: --base-background;

$--notebook-header-bg: --notebook-header-bg;
$--notebook-header-color: --notebook-header-color;

$--notebook-paper-background: --notebook-paper-background;
$--notebook-paper-line: --notebook-paper-line;
$--notebook-box-shadow-bg: --notebook-box-shadow-bg;
$--notebook-box-shadow-line: --notebook-box-shadow-line;

$--border-color: --border-color;
$--border-color-darker: --border-color-darker;
$--list-item-hover-color: --list-item-hover-color;
$--box-shadow-color1: --box-shadow-color1;
$--box-shadow-color2: --box-shadow-color2;

$--action-button-primary: --action-button-primary;
$--action-button-secondary: --action-button-secondary;

$--select-background: --select-background;
$--select-text-color: --select-text-color;
$--round-button-background: --round-button-background;

$--notebook-text-color:--notebook-text-color;