/* TODO: REFACTOR ALL THEMES INTO SEPARATE FILES W/ VARIABLES FOR COLORS */

@import url('./main.scss');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Halogen';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Halogen.ttf');
	src: local(''), url('/fonts/Halogen.ttf') format('truetype');
}

@font-face {
	font-family: 'Hashtag';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Hashtag.ttf');
	src: local(''), url('/fonts/Hashtag.ttf') format('truetype');
}

@font-face {
	font-family: 'Ammys Handwriting';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Ammys Handwriting.ttf');
	src: local(''), url('/fonts/Ammys Handwriting.ttf') format('truetype');
}

@font-face {
	font-family: 'Journal';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/JOURNAL.TTF');
	src: local(''), url('/fonts/JOURNAL.TTF') format('truetype');
}

@font-face {
	font-family: 'Damagrafik Script';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/DamagrafikScript-Regular.ttf');
	src: local(''), url('/fonts/DamagrafikScript-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'JP Hand';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/JPHSL.TTF');
	src: local(''), url('/fonts/JPHSL.TTF') format('truetype');
}

@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/ARIALN.woff');
	src: local(''), url('/fonts/ARIALN.woff') format('woff');
}

@font-face {
	font-family: 'Times Old Attic Bold';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/times-old-attic.bold.ttf');
	src: local(''), url('/fonts/times-old-attic.bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Crimson Roman';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/crimson.roman.ttf');
	src: local(''), url('/fonts/crimson.roman.ttf') format('truetype');
}

@font-face {
	font-family: 'Comic Sans';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/LDFComicSans.ttf');
	src: local(''), url('/fonts/LDFComicSans.ttf') format('truetype');
}

@font-face {
	font-family: 'Tiki Tropic';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/TikiTropic.ttf');
	src: local(''), url('/fonts/TikiTropic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lucida Console';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/LucidaConsoleRegular.ttf');
	src: local(''), url('/fonts/LucidaConsoleRegular.ttf') format('truetype');
}

@font-face {
	font-family: 'Consolas';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Consolas.woff');
	src: local(''), url('/fonts/Consolas.woff') format('woff');
}

a {
	text-decoration-line: underline;
	text-decoration-style: dotted;
	text-decoration-thickness: 1px;
}

a:hover {
	text-decoration-line: none;
}

.footer {
	text-align: center;
}

.footer ul > li {
	display: inline;
}

footer li + li::before {
	content: ' · ';
}

ol {
	list-style: inherit;
}

.halogen {
	font-family: 'Halogen', 'Comic Sans MS', 'Comic Sans';
	font-size: 22px;
}

.hashtag {
	font-family: 'Hashtag', 'Comic Sans MS', 'Comic Sans';
	font-size: 37px;
}

.ammys {
	font-family: 'Ammys Handwriting', 'Comic Sans MS', 'Comic Sans';
	font-size: 22px;
}

.journal {
	font-family: 'Journal', 'Comic Sans MS', 'Comic Sans';
	font-size: 30px;
}

.damagrafik {
	font-family: 'Damagrafik Script', 'Comic Sans MS', 'Comic Sans';
	font-size: 22px;
}

.jphand {
	font-family: 'JP Hand', 'Comic Sans MS', 'Comic Sans';
	font-size: 30px;
}

.arial {
	font-family: 'Arial', serif;
	font-size: 22px;
}

.oldattic {
	font-family: 'Times Old Attic Bold';
	font-size: 22px;
}

.crimson {
	font-family: 'Crimson Roman';
	font-size: 25px;
}

.comic {
	font-family: 'Comic Sans';
	font-size: 22px;
}

.lucida {
	font-family: 'Lucida Console';
	font-size: 22px;
}

.consolas {
	font-family: 'Consolas';
	font-size: 22px;
}

#logo-text {
	font-family: 'Tiki Tropic';
}

input {
	opacity: 1;
}

textarea {
	outline: none !important;
	position: relative;
}

textarea:disabled {
	-webkit-text-fill-color: #1c1917;
	opacity: 1;
}

textarea:focus {
	outline: none !important;
	box-shadow: 0 0 10px #ccc, 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

body {
	padding-top: constant(safe-area-inset-top);
	padding-top: env(safe-area-inset-top);
	padding-bottom: constant(safe-area-inset-bottom);
	padding-bottom: env(safe-area-inset-bottom);
}

body:focus-visible {
	outline: none;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 1px;
	text-overflow: '';
}

.top {
	width: 100%;
	height: 50px;
	border-radius: 5px 5px 0 0;
	position: relative;
	z-index: 1;
}

.paper {
	width: 100%;
	padding: 35px 35px;
	line-height: 32px;
}

.round-button {
	padding: 0.5rem;
	height: 2.25rem;
	width: 2.25rem;
	border-radius: 100%;
	border-width: 1px;
}

.action-button {
	border-radius: 12px;
	padding: 0.5rem 0.8rem;
	margin: 0 0.5rem;
}

.dropdown-menu {
	border-radius: 0.375rem;
}

.dropdown-menu__item:last-of-type {
	border: none;
}

/* ---------THEMES--------- */

/* Plain Vanilla */

.vanilla .top {
	background: #333;
}

.vanilla #logo-text,
.vanilla #poem-list-placeholder {
	color: #333;
}

.vanilla .paper {
	background: repeating-linear-gradient(#f7f3ec, #f7f3ec 31px, #94acd4 31px, #94acd4 32px);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15),
		0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.vanilla #burger-bar {
	background: #ffffff;
}

.vanilla select {
	background: #ffffff;
	outline: 1px solid #d1d5db;
}

.vanilla .round-button {
	background: #ffffff;
	fill: #333333;
	border-color: #333333;
}

.vanilla .dropdown-arrow {
	color: #6b7280;
}

#moon,
#pencil {
	color: #333333;
}

.vanilla .action-button--primary {
	background: #333;
	color: #fff;
}

.vanilla .action-button--secondary {
	outline: 1px solid #9ca3af;
}

.vanilla .action-button--primary:hover,
.vanilla .action-button--secondary:hover {
	background-color: #e5e7eb;
	color: #333;
	outline: none;
}

.vanilla .poem-list__item {
	border-bottom: 1px solid #e5e7eb;
}

.vanilla .poem-list__item:hover {
	background-color: #f9fafb;
}

.vanilla .dropdown-menu {
	background-color: #fff;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.vanilla .dropdown-menu__item {
	border-color: #e5e7eb;
}

.vanilla .dropdown-menu__item:hover {
	background-color: #f3f4f6;
}

/* Strawberry Sundae */

.strawberry .top,
.strawberry .top textarea:disabled {
	background: #f9a8d4;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.strawberry textarea,
.strawberry textarea:disabled {
	color: #333333;
	-webkit-text-fill-color: #333333;
	-webkit-opacity: 1;
	opacity: 1;
}

.strawberry #header-menu,
.strawberry #header-menu svg,
.strawberry .toolbelt,
.strawberry footer,
.strawberry label,
.strawberry select,
.strawberry .dropdown-arrow {
	color: #c71585;
}

.strawberry body,
.strawberry #burger-bar,
.strawberry .poem-list {
	background: #fdf2f8;
}

.strawberry .paper {
	background: repeating-linear-gradient(#fce7f3, #fce7f3 31px, #f9a8d4 31px, #f9a8d4 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #fce7f3,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #fce7f3,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
}

.strawberry .round-button {
	background: #fdf2f8;
	fill: #c71585;
	border-color: #c71585;
}

.strawberry select {
	background: #fce7f3;
	outline: 1px solid #f9a8d4;
}

.strawberry .dropdown-menu {
	background-color: #fdf2f8;
	box-shadow: 0 10px 15px -3px rgb(249 168 212 / 0.3), 0 4px 6px -4px rgb(249 168 212 / 0.3);
}

.strawberry .dropdown-menu__item {
	color: #c71585;
	border-color: #f9a8d4;
}

.strawberry .dropdown-menu__item:hover {
	background-color: #fce7f3;
}

/* Lemon Tart */

.lemon body,
.lemon .poem-list,
.lemon #burger-bar {
	background-color: #fefce8;
}

.lemon .top {
	background-color: #fef9c3;
	color: #422006;
}

.lemon #header-menu,
.lemon #header-menu svg,
.lemon .toolbelt,
.lemon footer,
.lemon label,
.lemon select,
.lemon .dropdown-arrow {
	color: #422006;
}

.lemon .paper {
	background: repeating-linear-gradient(#fffcdb, #fffcdb 31px, #fde047 31px, #fde047 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #fffcdb,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #fffcdb,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #422006;
}

.lemon .top,
.lemon .top textarea:disabled {
	background: #fef9c3;
	-webkit-opacity: 1;
	opacity: 1;
	color: #422006;
	-webkit-text-fill-color: #422006;
}

.lemon textarea,
.lemon textarea:disabled {
	color: #422006;
	-webkit-text-fill-color: #422006;
	-webkit-opacity: 1;
	opacity: 1;
}

.lemon .round-button {
	background: #fefce8;
	fill: #422006;
	border-color: #fde047;
}

.lemon select {
	background: #fffcdb;
	outline: 1px solid #fde047;
}

.lemon .dropdown-menu {
	background-color: #fefce8;
	box-shadow: 0 10px 15px -3px rgb(66 32 6 / 0.05), 0 4px 6px -4px rgb(66 32 6 / 0.05);
}

.lemon .dropdown-menu__item {
	color: #422006;
	border-color: #fde047;
}

.lemon .dropdown-menu__item:hover {
	background-color: #fffcdb;
}

/* Cookie Dough */

.cookie body,
.cookie .poem-list,
.cookie #burger-bar {
	background-color: #fff5e5;
}

.cookie #header-menu,
.cookie #header-menu svg,
.cookie .toolbelt,
.cookie footer,
.cookie label,
.cookie select,
.cookie .dropdown-arrow {
	color: #422006;
}

.cookie .top {
	background-color: #745f4f;
	color: #f8e8d5;
}

.cookie .paper {
	background: repeating-linear-gradient(#f8e8d5, #f8e8d5 31px, #e8b68b 31px, #e8b68b 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #f8e8d5,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #f8e8d5,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #422006;
}

.cookie .top,
.cookie .top textarea:disabled {
	background: #745f4f;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f8e8d5;
	-webkit-text-fill-color: #f8e8d5;
}

.cookie textarea,
.cookie textarea:disabled {
	color: #422006;
	-webkit-text-fill-color: #422006;
	-webkit-opacity: 1;
	opacity: 1;
}

.cookie .round-button {
	background: #fff5e5;
	fill: #422006;
	border-color: #e8b68b;
}

.cookie select {
	background: #f8e8d5;
	outline: 1px solid #e8b68b;
}

.cookie .dropdown-menu {
	background-color: #fff5e5;
	box-shadow: 0 10px 15px -3px rgb(66 32 6 / 0.1), 0 4px 6px -4px rgb(66 32 6 / 0.1);
}

.cookie .dropdown-menu__item {
	color: #422006;
	border-color: #e8b68b;
}

.cookie .dropdown-menu__item:hover {
	background-color: #f8e8d5;
}

/* Summer Cherry */

.cherry body,
.cherry .poem-list,
.cherry #burger-bar {
	background-color: #ffe9f3;
}

.cherry #header-menu,
.cherry #header-menu svg,
.cherry .toolbelt,
.cherry footer,
.cherry table,
.cherry label,
.cherry select,
.cherry .dropdown-arrow {
	color: #b34261;
}

.cherry .burger-border {
	border-color: #e6a4a8;
}

.cherry .paper {
	background: repeating-linear-gradient(#fff2e6, #fff2e6 31px, #e6a4a8 31px, #e6a4a8 32px);
	box-shadow: 0 1px 1px rgba(230, 164, 168, 0.3), 0 10px 0 -5px #fff2e6,
		0 10px 1px -4px rgba(230, 164, 168, 0.3), 0 20px 0 -10px #fff2e6,
		0 20px 1px -9px rgba(230, 164, 168, 0.3);
	color: #8b2c3d;
}

.cherry .top,
.cherry .top textarea:disabled {
	background: #b34261;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.cherry textarea,
.cherry textarea:disabled {
	color: #8b2c3d;
	-webkit-text-fill-color: #8b2c3d;
	-webkit-opacity: 1;
	opacity: 1;
}

.cherry .round-button {
	background: #ffe9f3;
	fill: #b34261;
	border-color: #e6a4a8;
}

.cherry select {
	background: #fff2e6;
	outline: 1px solid #b34261;
}

.cherry .dropdown-menu {
	background-color: #ffe9f3;
	box-shadow: 0 10px 15px -3px rgb(179 66 97 / 0.1), 0 4px 6px -4px rgb(179 66 97 / 0.1);
}

.cherry .dropdown-menu__item {
	color: #8b2c3d;
	border-color: #e6a4a8;
}

.cherry .dropdown-menu__item:hover {
	background-color: #fff2e6;
}

/* Coral Pink */

.coral body,
.coral tr,
.coral #burger-bar {
	background-color: #fdedeb;
}

.coral #header-menu svg {
	fill: #9e4244;
}

.coral button svg {
	fill: #fdedeb;
}

.coral #header-menu,
.coral #header-menu svg,
.coral .toolbelt,
.coral footer,
.coral label,
.coral select,
.coral .dropdown-arrow {
	color: #9e4244;
}

.coral select {
	background-color: #ffe9c7;
}

.coral .paper {
	background: repeating-linear-gradient(#ffe9c7, #ffe9c7 31px, #f06071 31px, #f06071 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #ffe9c7,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #ffe9c7,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #000000;
}

.coral .top,
.coral .top textarea:disabled {
	background-color: #ee8470;
	color: #ffffff;
	-webkit-text-fill-color: #ffffff;
	-webkit-opacity: 1;
	opacity: 1;
}

.coral .dropdown-menu {
	background-color: #fdedeb;
	box-shadow: 0 10px 15px -3px rgb(179 66 97 / 0.1), 0 4px 6px -4px rgb(179 66 97 / 0.1);
}

.coral .dropdown-menu__item {
	color: #ee8470;
	border-color: #ee8470;
}

.coral .dropdown-menu__item:hover {
	background-color: #ffe9c7;
}

/* Global Dark */

.dark a,
.dark #moon,
.dark #pencil,
.dark #markov-talk,
.dark .toolbelt,
.dark label,
.dark tr,
.dark h1,
.dark h2,
.dark h3,
.dark p,
.dark ul,
.dark #burger-button svg,
.dark button,
#poem-list-placeholder,
.logo-text {
	color: #f5f5f4;
}

.dark #swap svg {
	background-color: #e7e5e4;
}

.dark tr {
	border-bottom-color: #f5f5f4;
}

/* Chocolate */

.chocolate select,
.chocolate .dropdown-arrow {
	color: #1c1917;
}

.chocolate .paper {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #a8a29e,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #a8a29e, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	background: repeating-linear-gradient(#a8a29e, #a8a29e 31px, #57534e 31px, #57534e 32px);
	color: #1c1917;
}

.chocolate tr {
	background-color: #292524;
}

.chocolate body,
.chocolate #burger-bar {
	background-color: #292524;
}

.chocolate .top {
	color: #f5f5f4;
	background-color: #1c1917;
}

.chocolate .round-button {
	background: #292524;
	fill: #f5f5f4;
	border-color: #a8a29e;
}

.chocolate select {
	background: #a8a29e;
	outline: 1px solid #292524;
}

.chocolate .dropdown-menu {
	background-color: #1c1917;
	box-shadow: 0 10px 15px -3px rgb(168 162 158 / 0.3), 0 4px 6px -4px rgb(168 162 158 / 0.3);
}

.chocolate .dropdown-menu__item {
	color: #a8a29e;
	border-color: #a8a29e;
}

.chocolate .dropdown-menu__item:hover {
	background-color: #a8a29e;
	color: #292524;
}

/* Black Lobelia */

.black-lobelia select,
.black-lobelia .dropdown-arrow {
	color: #211b2c;
}

.black-lobelia body,
.black-lobelia tr,
.black-lobelia #burger-bar {
	background-color: #211b2c;
}

.black-lobelia .top {
	background-color: #413655;
}

.black-lobelia .paper {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #8f8ca8,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #8f8ca8, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
	background: repeating-linear-gradient(#8f8ca8, #8f8ca8 31px, #4c4666 31px, #4c4666 32px);
	color: #211b2c;
}

.black-lobelia .top,
.black-lobelia .top textarea:disabled {
	background: #413655;
	-webkit-opacity: 1;
	opacity: 1;
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.black-lobelia textarea,
.black-lobelia textarea:disabled {
	color: #211b2c;
	-webkit-text-fill-color: #211b2c;
	-webkit-opacity: 1;
	opacity: 1;
}

.black-lobelia .round-button {
	background: #211b2c;
	fill: #fff;
	border-color: #8f8ca8;
}

.black-lobelia select {
	background: #8f8ca8;
	outline: 1px solid #211b2c;
}

.black-lobelia .dropdown-menu {
	background-color: #211b2c;
	box-shadow: 0 10px 15px -3px rgb(143 140 168 / 0.3), 0 4px 6px -4px rgb(143 140 168 / 0.3);
}

.black-lobelia .dropdown-menu__item {
	color: #8f8ca8;
	border-color: #8f8ca8;
}

.black-lobelia .dropdown-menu__item:hover {
	background-color: #8f8ca8;
	color: #211b2c;
}

/* Red Velvet */

.red-velvet select,
.red-velvet .dropdown-arrow {
	color: #240309;
}

.red-velvet body,
.red-velvet .poem-list,
.red-velvet #burger-bar {
	background-color: #240309;
}

.red-velvet .top {
	background-color: #51040f;
	color: #f7ece1;
}

.red-velvet .paper {
	background: repeating-linear-gradient(#a88c8e, #a88c8e 31px, #664646 31px, #664646 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #a88c8e,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #a88c8e,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #360202;
}

.red-velvet textarea:disabled {
	-webkit-text-fill-color: #360202;
	opacity: 1;
}

.red-velvet #swap svg {
	background-color: #f7ece1;
	color: #360202;
}

.red-velvet #header-menu,
.red-velvet #header-menu svg,
.red-velvet .toolbelt,
.red-velvet footer,
.red-velvet #logo-text,
.red-velvet #poem-list-placeholder {
	color: #f7ece1;
}

.red-velvet .top,
.red-velvet .top textarea:disabled {
	background: #51040f;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f7ece1;
	-webkit-text-fill-color: #f7ece1;
}

.red-velvet textarea,
.red-velvet textarea:disabled {
	color: #360202;
	-webkit-text-fill-color: #360202;
	-webkit-opacity: 1;
	opacity: 1;
}

.red-velvet .round-button {
	background: #360202;
	fill: #f7ece1;
	border-color: #a88c8e;
}

.red-velvet select {
	background: #a88c8e;
	outline: 1px solid #360202;
}

.red-velvet .dropdown-menu {
	background-color: #51040f;
	box-shadow: 0 10px 15px -3px rgb(81 4 15 / 0.3), 0 4px 6px -4px rgb(81 4 15 / 0.3);
}

.red-velvet .dropdown-menu__item {
	color: #a88c8e;
	border-color: #a88c8e;
}

.red-velvet .dropdown-menu__item:hover {
	background-color: #a88c8e;
	color: #51040f;
}

/* Terminal */

.terminal select,
.terminal .dropdown-arrow {
	color: #f5f5f4;
	background-color: #000;
}

.terminal select {
	outline: 1px solid #24b023;
}

.terminal body,
.terminal .poem-list,
.terminal #burger-bar {
	background-color: #3c3c3c;
}

.terminal .paper {
	background: repeating-linear-gradient(#000000, #000000 31px, #24b023 31px, #24b023 32px);
	box-shadow: 0 1px 1px rgba(131, 24, 67, 0.15), 0 10px 0 -5px #000000,
		0 10px 1px -4px rgba(131, 24, 67, 0.15), 0 20px 0 -10px #000000,
		0 20px 1px -9px rgba(131, 24, 67, 0.15);
	color: #24b023;
}

.terminal textarea:disabled {
	-webkit-text-fill-color: #24b023;
	opacity: 1;
}

.terminal #header-menu,
.terminal #header-menu svg,
.terminal .toolbelt,
.terminal footer,
.terminal #logo-text,
.terminal #poem-list-placeholder,
.terminal .stats {
	color: #f5f5f4;
}

.terminal .top,
.terminal .top textarea:disabled {
	background: #000000;
	-webkit-opacity: 1;
	opacity: 1;
	color: #f5f5f4;
	-webkit-text-fill-color: #f5f5f4;
}

.terminal textarea,
.terminal textarea:disabled {
	color: #f5f5f4;
	-webkit-text-fill-color: #f5f5f4;
	-webkit-opacity: 1;
	opacity: 1;
}

.terminal .round-button {
	background: #000;
	fill: #24b023;
	border-color: #24b023;
}

.terminal .dropdown-menu {
	background-color: #3c3c3c;
	box-shadow: 0 10px 15px -3px rgb(81 4 15 / 0.3), 0 4px 6px -4px rgb(81 4 15 / 0.3);
}

.terminal .dropdown-menu__item {
	color: #24b023;
	border-color: #24b023;
}

.terminal .dropdown-menu__item:hover {
	background-color: #000;
	color: #f5f5f4;
}


