@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Halogen';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Halogen.ttf');
    src: local(''),
        url('/fonts/Halogen.ttf') format('truetype'),
}

@font-face {
    font-family: 'Hashtag';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Hashtag.ttf');
    src: local(''),
        url('/fonts/Hashtag.ttf') format('truetype'),
}

@font-face {
    font-family: 'Ammys Handwriting';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/Ammys Handwriting.ttf');
    src: local(''),
        url('/fonts/Ammys Handwriting.ttf') format('truetype'),
}

@font-face {
    font-family: 'Journal';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/JOURNAL.TTF');
    src: local(''),
        url('/fonts/JOURNAL.TTF') format('truetype'),
}

@font-face {
    font-family: 'Damagrafik Script';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/DamagrafikScript-Regular.ttf');
    src: local(''),
        url('/fonts/DamagrafikScript-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'JP Hand';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/JPHSL.TTF');
    src: local(''),
        url('/fonts/JPHSL.TTF') format('truetype'),
}

@font-face {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/ARIALN.woff');
    src: local(''),
        url('/fonts/ARIALN.woff') format('woff'),
}

@font-face {
    font-family: 'Times Old Attic Bold';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/times-old-attic.bold.ttf');
    src: local(''),
        url('/fonts/times-old-attic.bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'Crimson Roman';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/crimson.roman.ttf');
    src: local(''),
        url('/fonts/crimson.roman.ttf') format('truetype'),
}

@font-face {
    font-family: 'Comic Sans';
    font-style: normal;
    font-weight: 500;
    src: url('/fonts/LDFComicSans.ttf');
    src: local(''),
        url('/fonts/LDFComicSans.ttf') format('truetype'),
}

ol {
    list-style: inherit;
}

.halogen {
    font-family: "Halogen", "Comic Sans MS", "Comic Sans";
    font-size: 22px;
}

.hashtag {
    font-family: "Hashtag", "Comic Sans MS", "Comic Sans";
    font-size: 37px;
}

.ammys {
    font-family: "Ammys Handwriting", "Comic Sans MS", "Comic Sans";
    font-size: 22px;
}

.journal {
    font-family: "Journal", "Comic Sans MS", "Comic Sans";
    font-size: 30px;
}

.damagrafik {
    font-family: "Damagrafik Script", "Comic Sans MS", "Comic Sans";
    font-size: 22px;
}

.jphand {
    font-family: "JP Hand", "Comic Sans MS", "Comic Sans";
    font-size: 30px;
}

.arial {
    font-family: "Arial", serif;
    font-size: 22px;
}

.oldattic {
    font-family: "Times Old Attic Bold";
    font-size: 22px;
}

.crimson {
    font-family: "Crimson Roman";
    font-size: 25px;
}

.comic {
    font-family: "Comic Sans";
    font-size: 22px;
}

textarea {
    max-height: 98%;
    outline: none !important;
    position: relative;
}

textarea:disabled {
    -webkit-text-fill-color: #1c1917;
    opacity: 1;
}

textarea:focus {
    outline: none !important;
    box-shadow:
        0 0 10px #CCC,
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

body:focus-visible {
    outline: none;
}

.top {
    width: 100%;
    height: 50px;
    border-radius: 5px 5px 0 0;
    position: relative;
    z-index: 1;
}

.paper {
    width: 100%;
    padding: 35px 35px;
    line-height: 32px;
}

/* ---------THEMES--------- */

/* Plain Vanilla */

.vanilla .top {
    background: #333;
}

.vanilla .paper {
    background: repeating-linear-gradient(#F7F3EC, #F7F3EC 31px, #94ACD4 31px, #94ACD4 32px);
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #eee,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #eee,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

/* Strawberry Sundae */

.strawberry .top {
    background: #f9a8d4;
}

.strawberry body {
    background: #fdf2f8;
}

.strawberry .poem-list {
    background: #fdf2f8;
}

.strawberry .paper {
    background: repeating-linear-gradient(#fce7f3, #fce7f3 31px, #f9a8d4 31px, #f9a8d4 32px);
    box-shadow:
        0 1px 1px rgba(131, 24, 67, 0.15),
        0 10px 0 -5px #fce7f3,
        0 10px 1px -4px rgba(131, 24, 67, 0.15),
        0 20px 0 -10px #fce7f3,
        0 20px 1px -9px rgba(131, 24, 67, 0.15)
}

#moon {
    color: #333333;
}

/* Lemon Tart */

.lemon body,
.lemon .poem-list {
    background-color: #fefce8;
}

.lemon .top {
    background-color: #fef9c3;
    color: #422006;
}

.lemon .paper {
    background: repeating-linear-gradient(#fffcdb, #fffcdb 31px, #fde047 31px, #fde047 32px);
    box-shadow:
        0 1px 1px rgba(131, 24, 67, 0.15),
        0 10px 0 -5px #fffcdb,
        0 10px 1px -4px rgba(131, 24, 67, 0.15),
        0 20px 0 -10px #fffcdb,
        0 20px 1px -9px rgba(131, 24, 67, 0.15);
    color: #422006;
}

.lemon textarea:disabled {
    -webkit-text-fill-color: #422006;
    opacity: 1;
}

/* Cookie Dough */

.cookie body,
.cookie .poem-list {
    background-color: #FFF5E5;
}

.cookie .top {
    background-color: #745F4F;
    color: #F8E8D5;
}

.cookie .paper {
    background: repeating-linear-gradient(#F8E8D5, #F8E8D5 31px, #E8B68B 31px, #E8B68B 32px);
    box-shadow:
        0 1px 1px rgba(131, 24, 67, 0.15),
        0 10px 0 -5px #F8E8D5,
        0 10px 1px -4px rgba(131, 24, 67, 0.15),
        0 20px 0 -10px #F8E8D5,
        0 20px 1px -9px rgba(131, 24, 67, 0.15);
    color: #422006;
}

.cookie #logo {
    filter: sepia(14%);
}

.cookie textarea:disabled {
    -webkit-text-fill-color: #422006;
    opacity: 1;
}

.cookie a,
.cookie p,
.cookie svg {
    color: #422006;
}

/* Global Dark */

.dark a,
.dark #moon,
.dark #pencil,
.dark #markov-talk,
.dark .toolbelt,
.dark label,
.dark tr,
.dark h1,
.dark h2,
.dark h3,
.dark p {
    color: #f5f5f4;
}

.dark #swap svg {
    background-color: #e7e5e4;
}

.dark tr {
    border-bottom-color: #f5f5f4;
}

/* Chocolate */

.chocolate .paper {
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #a8a29e,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #a8a29e,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    background: repeating-linear-gradient(#a8a29e, #a8a29e 31px, #57534e 31px, #57534e 32px);
    color: #1c1917;
}

.chocolate tr {
    background-color: #292524;
}

.chocolate body {
    background-color: #292524;
}

.chocolate .top {
    color: #f5f5f4;
    background-color: #1c1917;
}

/* Black Lobelia */

.black-lobelia body,
.black-lobelia tr {
    background-color: #211b2c;
}

.black-lobelia .top {
    background-color: #413655;
}

.black-lobelia .paper {
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.15),
        0 10px 0 -5px #8f8ca8,
        0 10px 1px -4px rgba(0, 0, 0, 0.15),
        0 20px 0 -10px #8f8ca8,
        0 20px 1px -9px rgba(0, 0, 0, 0.15);
    background: repeating-linear-gradient(#8f8ca8, #8f8ca8 31px, #4c4666 31px, #4c4666 32px);
    color: #211b2c;
}

.black-lobelia textarea:disabled {
    -webkit-text-fill-color: #211b2c;
    opacity: 1;
}

/* Red Velvet */

.red-velvet body,
.red-velvet .poem-list {
    background-color: #240309;
}

.red-velvet .top {
    background-color: #51040f;
    color: #F7ECE1;
}

.red-velvet .paper {
    background: repeating-linear-gradient(#a88c8e, #a88c8e 31px, #664646 31px, #664646 32px);
    box-shadow:
        0 1px 1px rgba(131, 24, 67, 0.15),
        0 10px 0 -5px #a88c8e,
        0 10px 1px -4px rgba(131, 24, 67, 0.15),
        0 20px 0 -10px #a88c8e,
        0 20px 1px -9px rgba(131, 24, 67, 0.15);
    color: #360202;
}

.red-velvet textarea:disabled {
    -webkit-text-fill-color: #360202;
    opacity: 1;
}

.red-velvet #swap svg {
    background-color: #F7ECE1;
    color: #360202;
}

.red-velvet a,
.red-velvet .toolbelt,
.red-velvet p,
.red-velvet svg {
    color: #F7ECE1;
}

.cookie #logo {
    filter: hue-rotate(2);
}

@media only screen and (max-width: 768px) {

    .notebook-container {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
    }

    .notebook {
        width: 87vw;
        height: 90vh;
        flex: none;
    }
}