.workspace {
	width: 92%;
	margin: 1.25rem auto 5rem auto;
	display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 1rem;

    &.l-full-width {

        display: inherit;

        .workspace-pad:first-child {
            width: 100%;
        }

        .workspace-pad:last-child {
            display: none;
        }
    }
}

.workspace-pad {
	width: 100%;
	grid-column: span 1 / span 1;
	margin-bottom: 1.5rem;
	vertical-align: top;
	position: relative;
    display: inline-block;
}

.workspace-pad-toolbar {
	position: absolute;
	right: 0.5rem;
	top: 0.5rem;
	z-index: 10;

	> div {
		display: flex;

		button:not(:last-child) {
			margin-right: 0.25rem;
		}
	}
}

@media only screen and (max-width: 768px) {
	.workspace {
		overflow-y: hidden;
		white-space: nowrap;
        display: block;
	}

	.workspace-pad {
		width: 87vw;
	}

	.notebook {
		flex: none;
	}
}

@media only screen and (max-width: 640px) {
	.footer {
		display: none;
	}
}
