---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import Testimonials from "../components/Testimonials.astro";
import Pricing from "../components/Pricing.astro";
---

<Layout>
  <Navbar />
  <Hero />
  <Features />
  <Testimonials />
  <Pricing />

  <footer>
    <p>&copy; {new Date().getFullYear()} PokeBook. All rights reserved.</p>
  </footer>
</Layout>

<style>
  footer {
    background-color: #fff;
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #eaeaea;
  }

  @media (max-width: 768px) {
    .navbar .nav-links {
      flex-direction: column;
      align-items: center;
    }

    .pricing-options {
      flex-direction: column;
    }

    .pricing .option {
      width: 100%;
    }

    .download-buttons {
      flex-direction: column;
    }
  }
</style>
